/node_modules
/public/hot
/public/css
/public/js
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/storage/logs
/public/images
/public/uploads
/public/mix-manifest.json
/storage
/public/img/logo_temp.png
/public/php_errors.log
/public/downloads/
/package-lock.json
/composer.lock
/public/pdf_emitidos
/public/xml_emitidos
/public/control_recursos_facturas
/public/ControlRecursos
/public/ControlRecursos/facturas/
/public/php_errores.log
/php_errores.log
/downloads/fiscal/comunicados_notificaciones
