
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// Variables
@import 'variables';

// Bootstrap
@import '~font-awesome/scss/font-awesome';
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/plugins/daterangepicker/daterangepicker-bs3.css';
@import '~admin-lte/plugins/datepicker/datepicker3.css';
@import '~jquery-ui/themes/base/all.css';
@import '~@riophae/vue-treeselect/dist/vue-treeselect.css';
@import '~vue2-dropzone/dist/vue2Dropzone.min.css';
@import '~bootstrap-pincode-input/css/bootstrap-pincode-input.css';

* {
  font-size: 13px;
}

.td_money{
  text-align: right;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.th_money
{
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}

.th_money_input
{
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  text-align: center;
}

.td_money_input
{
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}

thead th {text-align: center}


.fecha_hora
{
  text-align: center;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}

.fecha
{
  text-align: center;
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}